Source: vpcs
Priority: optional
Section: net
Maintainer: Kevin Chevreuil - Kaisen <kaisen@kaisen-linux.org>
Build-Depends: debhelper, make
Standards-Version: 4.5.0
Vcs-Git: https://gitlab.com/kaisenlinux/packages/vpcs.git
Vcs-Browser: https://gitlab.com/kaisenlinux/packages/vpcs

Package: vpcs
Section: net
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple Virtual PC Simulator (for GNS3)
