#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	make -f $(CURDIR)/src/Makefile.linux -C $(CURDIR)/src

override_dh_auto_install:
	install -p -m 0755 $(CURDIR)/src/vpcs $(CURDIR)/debian/vpcs/usr/bin
